.controlKey
{
	font-size: 200%;
	line-height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes waiting
{
	0%
	{
		background-color: var(--sound-background);
	}
	50%
	{
		background-color: var(--text-color);
	}
	100%
	{
		background-color: var(--sound-background);
	}
}

.waitingForInput
{
	animation-name: waiting;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	color: var(--sound-button-enabled-text);
}

.waitingForInput:hover
{
	color: var(--sound-button-enabled-text);
}

.set
{
	color: var(--sound-button-enabled-text);
}
.set:hover
{
	color: var(--sound-button-enabled-text);
}