.soundContainer
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: var(--sound-background);
	color: var(--text-color);
}

.soundContainer path{stroke: var(--sound-button-hover-text);}
.soundContainer .fill path{fill: var(--sound-button-hover-text);}
.soundButton
{
	cursor: pointer;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 0.25rem;
	box-sizing: border-box;
}

.soundButton:not(.playButton):not(.delete) path
{
	stroke-width: 1.5rem;
}

.soundButton:hover
{
	background-color: var(--sound-button-hover);
	color: var(--sound-button-hover-text);
}
.soundButton path{stroke: var(--sound-button-hover-text);}
.soundButton ellipse{stroke: var(--sound-button-hover-text);}
.soundButton.fill path{fill: var(--sound-button-hover-text);}

.lit{color: var(--sound-button-enabled-text);}
.lit path{stroke: var(--sound-button-enabled-text);}
.lit.fill path{fill: var(--sound-button-enabled-text);}

audio{display: none;}

.soundTop,.soundBottom
{
	display: flex;
	flex-direction: row;
	height: var(--sound-inner-split-height);
	align-items: center;
}

.soundTop{margin-bottom: var(--sound-inner-split-separaton);}

.soundBottom{margin-top: var(--sound-inner-split-separaton);}

.delete
{
	width: calc(var(--sound-inner-button-size)/2);
	height: calc(var(--sound-inner-button-size)/2);
	margin-bottom: calc(var(--sound-inner-button-size)/2);
}

.delete:hover
{
	background-color: var(--titlebar-button-hover-danger);
}

.delete:hover path
{
	stroke: var(--titlebar-button-hover-danger-text);	
}

.soundTitle
{
	height: 2rem;
	line-height: 2rem;
	margin-left: 0.5rem;
	width: calc(100% - var(--sound-inner-button-size) - 1rem);
}

.soundTitleMarquee
{
	will-change: scroll-position;
}

.soundTitleMarquee p
{
	margin-right: 5rem;
}

.soundTitleInner
{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
}

.soundTitleContainer,.soundTitle
{
	white-space: nowrap;
	overflow: hidden;
}

.volumeContainer
{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
}

.controlKey
{
	font-size: 200%;
	line-height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.controlLight
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.controlLights
{
	width: var(--sound-inner-controls-width);
	height: var(--sound-inner-button-size);
	display: flex;
	margin-left: calc(2*var(--sound-inner-split-separaton));
}
.hold,.restart,.playButton,.controlKey,.controlLightsRight,.volumeButton
{
	width: var(--sound-inner-button-size);
	height: var(--sound-inner-button-size);
}
.loop
{
	width: var(--sound-inner-button-size);
}
.loop g
{
	width: 100%;
	height: 100%;
}
.loop path
{
	width: 100%;
	height: 100%;
}

.controlLightsLeft
{
	width: 50%;
}
.controlLightsRight
{
	display: flex;
	flex-direction: column;
}
.controlLightsTop
{
	display:flex;
	height: 1rem;
	width: var(--sound-inner-button-size);
}

.shift,.ctrl,.alt
{
	width: 1rem;
	height: 1rem;
}

@keyframes waiting
{
	0%
	{
		background-color: var(--sound-background);
	}
	50%
	{
		background-color: var(--text-color);
	}
	100%
	{
		background-color: var(--sound-background);
	}
}

.waitingForInput
{
	animation-name: waiting;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	color: var(--sound-button-enabled-text);
}

.waitingForInput:hover
{
	color: var(--sound-button-enabled-text);
}

.set
{
	color: var(--sound-button-enabled-text);
}
.set:hover
{
	color: var(--sound-button-enabled-text);
}

.seekHolder
{
	height: 100%;
	width: calc(100% - (var(--sound-inner-button-size) * 4));
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	display: flex;
	align-items: center;
}

.seekBar
{
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 50%;

}

.seekBar::-webkit-progress-bar
{
	background-color: var(--seek-bar-track-color);
}

.seekBar::-webkit-progress-value
{
	background-color: var(--seek-bar-bar-color);
}

.seekClampCover
{
	min-width: 0px;
	width: calc(100% - 4px);
	height: 50%;
	background-color: var(--seek-bar-grip-mask-color);
	z-index: 1000;
}

.seekClampBox
{
	z-index: 1000;
	min-width: 4px;
	height: var(--sound-inner-button-size);
	display: flex;
	align-items: center;
	position: absolute;
}

.seekMinBox
{
	width: 0px;
	justify-content: right;
}

.seekMaxBox
{
	width: 0px;
	justify-content: left;
}

.seekClampGrip
{
	width: 0px;
	z-index: 1000;
	min-width: 4px;
	max-width: 4px;
	height: 1.90rem;
	background-color: var(--seek-bar-grip-color);
	cursor: ew-resize;
}